.user-main {
  padding: 20px;
}

.user-input-container {
  margin-top: 10px;
}

.user-input {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 6px;
  border-radius: 3px;
  margin-top: 2px;
  min-width: 200px;
}

.user-email-error {
  margin-top: 3px;
  color: red;
}
