.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  max-width: 375px;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.hr {
  width: 100%;
}